body {
  background: papayawhip;
}
.container{
/* width: 100vw;
height: 100vh; */
display: flex;
flex-wrap: wrap;
/* position: absolute; */
}
.a{
 width: 100%;
 height: 15vh;
 flex: auto;
 background-color: aqua;
 /* order: 1; */
}
.b{
  width: 100%;
  height: 35vh;
  flex: auto;
  background-color: green;
  /* order: 2; */
 }

.c{
width: 20%;
height: 15vh;
flex: auto;
background-color: crimson;
/* order: 3; */
}
.d{
  width: 20%;
  height: 15vh;
  flex: auto;
  background-color: crimson;
  /* order: 4;   */
}
.e{
  width: 20%;
  height: 15vh;
  flex: auto;
  background-color: crimson;
  /* order: 5; */
}
.f{
  width: 100%;
  height: 15vh;
  flex: auto;
  background-color: aqua;
  /* order:6 ; */
}
.container > *{
  margin: 1rem;
}
@media (min-width:600px){
  body{
    background-color: blueviolet;
  }
  .container{
    position: relative;
  }
.a{
height: 30vh;
position: absolute;
}
.b{
  height: 30vh;
  width: 65vw;
  position: absolute;
  top: 33vh;
}
.c{
  height: 30vh;
  position:absolute;
  top: 65vh;
  
}
.d{
  height: 30vh;
  position: absolute;
  top: 65vh;
  left: 22vw;
}
.e{
  height: 30vh;
  position: absolute;
  top: 65vh;
    right: 30.5vw;
}
.f{
height: 62vh;
width:29vw;
position: absolute;
top: 33vh;
right: -1vw;

/* position: relative; */
/* bottom: 500px; */
}
}
